

/*navber start*/


.navbar-nav li a{

font-family: 'Lato', sans-serif;
font-weight: bold;

}

.navbar-brand{

font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 17px;

}
.navbar-fixed-top{

background:#f1ebca; 
border: 0px;
margin-top: 0px;
}


.navbar-default .navbar-brand
 {
color: #f07321;
}


.navbar-default .navbar-brand:hover{
color: #f07321;
}


.navbar-default .navbar-nav>li>a {

font-family: 'Lato', sans-serif;
font-weight: bold;
margin-top: 10px;
margin-left: 2px;
margin-right:2px;
padding: 5px 10px;
color: #7fb703;

}

.navbar-default .navbar-nav>li>a>i{
margin-top: 0px;
font-size: 18px;
color: #7fb703;
}
.navbar-default .navbar-nav>li>a>i:hover{
margin-top: 0px;
font-size: 18px;
color: #FDFDFD;
}


.navbar-default .navbar-nav>li>a:hover {

font-family: 'Lato', sans-serif;
font-weight: bold;
margin-top: 10px;
margin-left: 2px;
margin-right:2px;
padding: 5px 10px;
background:  #7fb703;
color: #FDFDFD;
}

.dropdown a {

margin-bottom: 20px;

}
.dropdown-menu>li>a {
  
    clear: both;
    line-height: 1.42857143;
    color: #7fb703;
    font-weight: bold;
    margin: 10px;
    padding-left: 5px;
}
.dropdown-menu>li>a:hover {
  
    clear: both;
    line-height: 1.42857143;
    color: #FDFDFD;
    font-weight: bold;
    background: transparent;
}
.dropdown-menu {

background: transparent;
border: 1px solid #7fb703;
border-radius: 0px;

		}
	
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
 color: #FDFDFD;
 background-color: #7fb703;
 padding: 5px 10px;
 margin-top: 10px;
}
/*navber end*/


/*header section  start*/
.header_section{

background: url(h1.jpeg) no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
}
.header_body{
width:100%; 
height: 100vh;
text-align: center;
position: relative;
}
.content_button{
width: 10%;
margin: 0 auto;
position: absolute;
left: 50%;
top: 85%;
transform: translate(-50%,-85%);

}
.content_button button{

background:#f07321;
border: none;
border-radius: 0px;
padding:13px 17px;
font-size: 16px;
font-weight: bold;
color: #f9f4f4;
font-family: sans-serif;

}
.content_button button:hover {

background:#de9565;
border: none;
border-radius: 0px;
padding:13px 17px;
font-size: 16px;
font-weight: bold;
color: #f9f4f4;
font-family: sans-serif;

}



/*header scetion end */

/*start style start*/

.start_section{

width: 100%;
padding-top: 65px;
padding-bottom: 65px;
text-align: center;
background: #f1ebca;
}
.portfolio h1{
font-weight: normal;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 35px;
color:#83562D;
margin-bottom: 30px;
}
.portfolio p{

font-size: 18px;
font-family:'Lato', serif;
font-weight: bold;
color: #8fb736;
letter-spacing: 2px;
margin-bottom:10px;
}

.portfolio button{
margin-top:20px; 
background:#f07321;
border: none;
border-radius: 0px;
padding:13px 17px;
font-size: 16px;
font-weight: bold;
color: #f9f4f4;
font-family: sans-serif;

}

.portfolio button:hover{
margin-top:20px; 
background:#de9565;
border: none;
border-radius: 0px;
padding:13px 17px;
font-size: 16px;
font-weight: bold;
color: #f9f4f4;
font-family: sans-serif;

}
/*start style end*/

/*about section start */

.section_name_start{
width: 100%;
text-align: center;
font-size: 25px;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #81b313;
padding-top:60px;
padding-bottom: 75px;
}

.intro{

width: 100%;

text-align: center;

}
.intro i{

font-size: 40px;
margin-bottom: 15px;
color: #c37934;

}
.intro h2{

color: #83ab2c;

}
.normal_line{

width: 100px;
background: #c37934;
height: 3px;
margin: 0 auto;
margin-top: 20px;

}
.normal_line1{
width: 30%;
background:#c37934; 
height: 3px;
margin: 0 auto;
margin-top: 20px;
float: left;
}
.normal_line:hover{

width: 220px;

}

.about_section{

width: 100%;
padding-top: 15px;
padding-bottom: 15px;
text-align: center;
background: #c37934;

}
.about_total{


margin: 45px;
text-align: center;
background:#f1ebca;
padding: 50px;


}
.aboutimg{

margin-top: 15px;

}
.aboutimg img{

width: 100%;
height: 200%;
border: 8px solid #b9de66 ;
}
.about_text{

text-align: left;

}

.about_text button{
text-align:left; 
margin-top:20px; 
border: none;
background:#f07321;
border-radius: 0px;
padding:8px 10px;
font-size: 16px;
font-weight: bold;
color: #ffffff;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

.about_text p{

text-align: left;
font-weight: bold;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color:#83ab2c;
margin-top: 15px;
margin-bottom:10px; 
}
.my{

text-align: left;
font-weight: bold;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color:#f9f4f4;
font-size: 17px;
margin-bottom:10px; 
padding:8px;
margin-right: 20px;
background: #B18A52;
}

.about_text h2{

text-align: left;
font-weight: bold;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color:#e88b4e;
margin-bottom: 30px; 
font-size: 25px;

}
.aboutimg h4{

text-align: left;
font-weight: bolder;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 18px;
color:#75a016;
margin-top: 20px;

}
.aboutinfo{

width: 100%;
border: 2px solid #B18A52;
padding:35px;
text-align: left;
}
.aboutinfo p{

text-align: left;
font-weight: bolder;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #e88b4e;
padding-left: 15px;
font-size: 25px;
}
.aboutinfo li{

text-decoration: none;
display: block;
padding: 15px;
color:#83ab2c;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}



/*about section end*/



/*skill section start */
.skill_section{

width: 100%;
padding-top: 60px;
padding-bottom: 60px;
background:#f1ebca;
}

.skill_start{
width: 100%;

}
.skill_start p{

text-align: center;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #83ab2c;
font-weight:bold;
margin-bottom:50px;
font-size: 15px;

}
.skill_start h2{

color: #c37934;
text-align: center;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
padding-bottom: 10px;
}

.progressbar{

padding: 15px;
margin: 10px;
text-align: center;
font-weight: bold;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
background: #ffffff;
}
.progress{
height: 110px;
width: 110px;
border-radius: 110px;
background:#fff8ca;
margin: auto;
border: 5px solid #b9de66;
}

.progress-bar{

background:#bd732f;
text-align: center;

}

.progress h3{

font-size: 17px;
font-weight: bold;
color:#fff8ca;
padding-top: 20px;

}

.progressbar h4{
color:#83562D;
font-weight: bold;
font-size: 16px;
margin-top: 20px;


}
.progressbar p{

color: #75a016;
margin-top: 20px;
}
/*skill section end*/ 

 /*my  work section start*/

.place_button{

color:red;
font-weight:bold;
font-family: sans-serif;
text-align: center;
padding-bottom:25px; 
}
.place_button button{

border: 1px solid #B18A52;
font-family: sans-serif;
padding: 4px 7px;
font-size: 12.5px;
font-weight: bold;
letter-spacing: .1px;
}
#btn_1{

background: #B18A52;
padding-left: 25px;
border-radius: 20px 0 0 20px;
color:  #fff8ca;
}
#btn_2{
background:  #ffffff;
color: #7fb703;
border-radius: 0px;
}

#btn_3{

background:  #ffffff;
color:#7fb703;
border-radius: 0px;
padding-right: 15px;
}

.work_section{
width: 100%;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
background: #c37934;
}

.work_total{


margin: 50px;
text-align: center;
background:#f1ebca;
padding: 25px 50px 50px 50px;


}
.image_box {
width: 100%;
height: 100%;
padding: 5px;
}


/* Make sure images don't get too big */
.image_box img {
  max-width: 100%;

}

/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}
/*my work end */


/*service section start*/

.service_section{

width: 100%;
padding:35px; 
padding-bottom: 80px;
background: #f1ebca;
 
}
.serviceing_start{
width: 100%;

}
.serviceing_start p{

text-align: center;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #7fb703;
font-weight:bold;
margin-bottom:50px;
font-size: 15px;

}
.serviceing_start h2{

color: #c37934;
text-align: center;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
padding-bottom: 10px;
}

.servicebox{

margin: 10px;
background: #f9f9fb;
padding: 25px;
margin: auto;
text-align: center;
font-weight: bold;
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.servicebox  i{

border: 2px solid #83562D;
font-size: 40px;
margin-bottom: 30px;
margin-top: 30px;
color:#c37934;
padding:26px;

}
.servicebox h4{

color:#7fb703;
}
.servicebox p{

color: #83562D;
}



 /*service section end*/


/* priceing section start */
.pricing_section{

width: 100%;
padding-top: 50px;
padding-bottom: 50px;
background:#f1ebca;
}
.pricing_start{
width: 100%;
}
.pricing_start p{

text-align: center;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #7BB503;
font-weight: normal;
padding-top:0px;
font-size: 15px;

}
.pricing_start h2{

color:#c37934;
text-align: center;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
padding-bottom: 10px;
}
.priceing_total{
margin-top:60px;
padding-top:30px;
margin-left: 70px;
margin-right: 70px;
text-align: center;
}
.price_info{
margin:auto;
text-align: center;
margin-left: 10px;
margin-right: 10px; 
background: #FAFAFA;
margin-top: 27px;
padding-top: 20px;
padding-bottom: 20px;	
}
.price_box{

padding-top: 40px;
padding-bottom: 30px;
background: #6f9819cc;
border-radius: 5px;
text-align: center;
}
.price_box:hover{

padding-top: 40px;
padding-bottom: 30px;
background: #b0db53;
border-radius: 5px;
color: #7BB503;
text-align: center;
}
.price_box h3{

margin-top: 30px;
color: #F3F3F3;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.price_box h3:hover{

margin-top: 30px;
color: #7BB503;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.price_circle{
width: 130px;
height: 130px;
border-radius:130px;
margin: auto;
margin-top: -100px;
border: 5px solid #F3F3F3;
background: #6f9819cc;
position: relative;

}
.price_circle:hover{
width: 130px;
height: 130px;
border-radius:130px;
margin: auto;
margin-top: -100px;
border: 5px solid #F3F3F3;
background: #b0db53;
position: relative;

}
.currency{
text-align: center;
font-size: 17px;
font-weight: bolder;
position: absolute;
left: 27%;
top: 38%;
transform: translate(-27%,-38%);
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #F3F3F3;
}
.amount{
text-align: center;
font-size: 35px;
font-weight:bolder;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
color: #F3F3F3;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tag{

text-align: center;
font-weight: bold;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color:#c37934;
font-size: 17px;
margin-bottom:10px; 
margin:8px 8px 8px 30px;
margin-right: 30px;
background:#f1ebca;
padding: 7px 7px;
}
.tag1{

text-align: center;
font-weight: bold;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color:#7BB503;
font-size: 17px;
margin-bottom:10px; 
margin:8px 8px;
margin-right: 10px;
padding: 7px 7px;
}

.price_box button{

background:#6f961b;
border: none;
border-radius: 0px;
margin-top: 15px;
padding:10px 17px;
font-size: 15px;
font-weight: bold;
color: #f9f4f4;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.price_box button:hover{

background:#6f961b;
border: none;
border-radius: 0px;
margin-top: 15px;
padding:10px 17px;
font-size: 15px;
font-weight: bold;
color: #f9f4f4;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.price_box button i{
padding: 5px;


}
/* priceing section end */

/*blog start*/

.blog_section{

width: 100%;
padding:35px; 
padding-bottom: 80px;
background: #f1ebca;
 
}
.bloging_start{
width: 100%;

}
.bloging_start p{

text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #75a016;
font-weight:bold;
margin-bottom:50px;
font-size: 15px;

}
.bloging_start h2{

color: #c37934;
text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
padding-bottom: 10px;
}
.blog-total{
background: #f1ebca;

}
.arealine{

width: 100%;
height: 2px;
background: #ffffff;

}
.post_total{

margin-top: 60px; 
background: #ffffff;
text-align: left;
padding-bottom: 40px;
}
.infodate{
padding-top: 50px;
padding-left: 20px;
color: #9c7d68;
text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
}
.post_total h3{
color: #75a016;
text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
padding-left:20px;


}
.post_total p{
color: #9c7d68;
text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
padding-left:20px;
font-size: 17px;
font-weight: normal;

}
.post_total h4{
color: #75a016;
text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
padding-left:20px;
padding-top: 30px;

}
.media img{
width: 110px;
height: 115px;
margin-left:20px;

}
.infodatemedia{
padding-left: 20px;
margin-bottom: 10px;
color: #9c7d68;
text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;


}
.form_post{
width: 100%;
margin: 30px;

}
.form_post p {
color: #75a016;
text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 17px;
font-weight: normal;
padding-top: 30px;
padding-left: 2px;
}
.form_post h3{

color: #75a016;
padding-bottom: 10px;
padding-top: 10px;

}
.post_total button{

background: transparent;
border: 2px solid #9c7d68;
border-radius: 0px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
color: #9c7d68;
font-weight:bold;
}
.post_total button:hover{

background: transparent;
border: 2px solid #9c7d68;
border-radius: 0px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
color: #de6615;
font-weight:bold;
}
.form_post .form-group{

font-size: 15px;
width: 60%;
color:#75a016;
text-align:left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;


}

.form_post button{

background: transparent;
border: 2px solid #9c7d68;
border-radius: 0px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
color: #9c7d68;
font-weight:bold;
}
.form_post button:hover{

background: transparent;
border: 2px solid #9c7d68;
border-radius: 0px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
color: #de6615;
font-weight:bold;
}
/*sideber start*/
.sideber_total{
width: 100%;
text-align: left;
margin-left:30px;
margin-top: 70px;

}
.sideber_total h3{
color: #686563;
text-align: left;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.sideber_total input{


border: 1px solid #686563;
border-radius: 0px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight:bold;
padding: 5.5px;
}
.sideber_total button{
border: 1px solid #686563;
border-radius: 0px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight:bold;
margin-bottom: 5px;
background: #686563;
color: #ffffff;
}
.ads{
width: 320px;
height: 300px;
background:#ffffff;
text-align: center;
margin-top: 50px;
color: #c37934;
margin-bottom: 40px;
}
.recent_post{
width: 100%;
margin-bottom: 40px;

}
.recent_post h4{

margin-left:15px;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #9c7d68;
margin-top: 50px;
margin-bottom: 30px;
}
.p_image img{
width: 100px;
height: 105px;

}
.p_title{
text-align: left;
color: #9c7d68;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
font-weight: normal;
margin-left: 0px;
}
.p_title h5{
color: #75a016;

}
/*blog section end */

 /*contact section start*/
.contact_section{

background: #f1ebca;
text-align:left;
width: 100%;
}
/*contact  section end*/

 /*footer section start */
/* footer section end */


@media (max-width: 767px) {



.content_button button{

background:#f07321;
border: none;
border-radius: 0px;
padding:5px 7px;
font-size: 12px;
font-weight: bold;
color: #f9f4f4;
font-family: sans-serif;

}
.content_button button:hover {

background:#9c1a6f;
border: none;
border-radius: 0px;
padding:5px 7px;
font-size: 12px;
font-weight: bold;
color: #f9f4f4;
font-family: 'Lato', sans-serif;

}


}